{% extends "layouts/default.html" %}

{% block title %} Landing Page {% endblock %} 

{% block content %}

  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        
        <div class="shape">
          <img src="{{ url_for('static', filename='assets/img/theme/index.png') }}" alt="" class="img-fluid" style="width: 100%; height:100%;">
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <h1 class="display-1 text-white" style="text-align: center;">The Ember Initiative</h1>
                <p class="lead text-white" style="text-align: center;">
                  
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <a href="#peer">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4" style="background-color:#FF8D8D; color:white;">
                      <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <h6 class="text-uppercase" style="color: #FF8D8D;"><strong>Peer to Peer Tutoring</strong></h6>
                    <p class="description mt-3" style="color: black; font-size:medium;">Offering in person computer science and math related courses to expand STEM to our community. We have been able to benefit many underpriveleged children in many bay area cities.</p>
                    <div>
                      <span class="badge badge-pill" style="background-color:#FF8D8D; color:white;">P2P</span>
                      <span class="badge badge-pill" style="background-color:#FF8D8D; color:white;">CS & Math</span>
                      <span class="badge badge-pill" style="background-color:#FF8D8D; color:white;">Bay-Area</span>
                    </div>
                  </div>
                </div>
              </a>
              </div>

                <div class="col-lg-4">
                  <a href="#student">
                  <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                      <div class="icon icon-shape icon-shape-warning rounded-circle mb-4" style="background-color: orange; color:white;">
                        <i class="fas fa-project-diagram"></i>
                      </div>
                      <h6 class="text-uppercase" style="color: orange;"> <strong>Student-Made Projects</strong></h6>
                      <p class="description mt-3" style="color: black; font-size:medium;">Courses for students - by students. Please register to see our Python, Arduino, and Swift Courses! These courses can serve as a great introduction into a new field. Many more projects coming soon!!</p> 
                      <div>
                        <span class="badge badge-pill" style="background-color: orange; color:white;">EE</span>
                        <span class="badge badge-pill" style="background-color: orange; color:white;">Python</span>
                        <span class="badge badge-pill" style="background-color: orange; color:white;">XCode</span>
                      </div>
                    </div>
                  </div>
                </a>
                </div>


              <div class="col-lg-4">
                <a href="#dedication">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4" style="background-color: #cc99ff; color:white;">
                      <i class="fas fa-hand-holding-heart"></i>
                    </div>
                    <h6 class="text-uppercase" style="color: #cc99ff;"><strong>Dedication to Philantropy</strong></h6>
                    <p class="description mt-3" style="color: black; font-size:medium;">With the new distance learning model it is essential students have access to the necessary technology to optimize their school experience.</p> <br> <br>
                    <div>
                      <span class="badge badge-pill" style="background-color: #cc99ff; color:white;">Laptops</span>
                      <span class="badge badge-pill" style="background-color: #cc99ff; color:white;">DLM</span>
                      <span class="badge badge-pill" style="background-color: #cc99ff; color:white;">Giving</span>
                    </div>
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg bg-secondary" id="peer">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <img src="{{ url_for('static', filename='assets/img/theme/children.png') }}" class="img-fluid floating" alt="image">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5" style="background-color:#FF8D8D; color:white;">
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
              <h3>Peer to Peer Teaching</h3>
              <p>Already, we have been privileged enough to mentor over 300 underprivileged students in the San Francisco Bay Area, providing free coding and math “boot-camp” style classes. Our classes have taught a variety of subjects, including but not limited to HTML, Python, Java, and Calculus. From the Fremont Main Library to Oakland City Library, we are always looking for new venues to hold our classes! Since the coronavirus has closed down many public libraries, we are transitioning to a distance learning model with our classes being held on Zoom to ensure that every student will still have access to a robust technical education. </p>
              <!-- <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-settings-gear-65"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Carefully crafted components</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-html5"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Amazing page examples</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Super friendly support team</h6>
                    </div>
                  </div>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section" id="student">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6">
            <div class="card border-0">
              <img src="{{ url_for('static', filename='assets/img/theme/courses.png') }}" class="img-fluid floating" alt="image">
              <!-- <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-default" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                </svg>
                <h4 class="display-3 font-weight-bold text-white">Design System</h4>
                <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
              </blockquote> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5" style="background-color: orange; color:white;">
                <i class="fas fa-project-diagram"></i>
              </div>
              <h3>Student-Made Projects</h3>
              <!-- <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
              <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
              <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
              <a href="#" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful websites</a> -->
              <p>Our student made courses and projects are a great way for a learner to become assimilated into a new field they may have never encountered before. Designed by students who have  gone through the process of learning their respective subjects, the courses are created with the intention of being easy to follow and understand. With our team and reach quickly expanding, we are excited to announce that we will be uploading new XCode, Java, Artificial Intelligence, and Multivariate Calculus courses very soon!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section bg-secondary section-lg" id="dedication">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <img src="{{ url_for('static', filename='assets/img/theme/world.png') }}" class="img-fluid floating" alt="image" height="120%" width="120%">
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5" style="background-color: #cc99ff; color:white;">
                <i class="fas fa-hand-holding-heart"></i>
              </div>
              <h3>Dedication to Philanthropy</h3>
              <p>Ember Initiative is a nonprofit organization and our team is always looking for new and unique ways to give back to our community. With the coronavirus pandemic rendering many schools incapable of holding normal classes, many schools are transitioning to a distance learning model with classes held over video conferencing platform zoom. Unfortunately, many students who attend Title One schools find themselves unable to purchase the necessary technology to thrive in these classes. For this reason, we have partnered with many Title One schools in the San Francisco Bay Area to raise money to purchase refurbished laptops for these students to use during these uncertain times. It is essential that we make sure no student is left behind soley because of their financial situation.</p>
            
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>

{% endblock content %}