{% extends "layouts/default-fullscreen.html" %}

{% block title %} Intro to Python {% endblock %} 

{% block content %}



  <main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
        <div class="container">
          <div class="card card-profile shadow mt--300">
            <div class="px-4">

                <!-- <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="/static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle" alt="image">
                    </a>
                  </div>
                </div> -->
                <!-- <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                    <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                  </div>
                </div> -->
                <div class="text-left">
                  <div class="card-profile-stats" style="padding-bottom: 0%;">
                    <div>
                      <span class="heading">Intro to Electrical Engineering</span>
                    </div>

                  </div>
                </div>
                

              <div class="progress-wrapper" style="padding-top: 0%;">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>% completed</span>
                  </div>
                  <div class="progress-percentage">
                    <span>60%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
              </div>
              

            </div>

          </div>

        </div>

      </section>

      <br>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-start">
              <!-- <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle" alt="image">
                  </a>
                </div>
              </div> -->
              <!-- <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div> -->
              <div class="text-left">
                <div class="card-profile-stats">
                  <div>
                    <span class="heading">Intro to ML: Class 1</span>
                    <span class="description">Setting up Jupyter and Installing Libraries</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              
            <div class="text-left d-inline">
                <div style="width: 50%; float:left">
                    <h6>Documents: </h6>
                    <a data-toggle="modal" data-target="#myModal" href="#myModal" style="background-color:black">
                      <span class="d-block"><i class="fa fa-file" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">Setting up Jupyter Notebook</h6></span>
                    </a>
                    
                    <a data-toggle="modal" data-target="#yTvid" href="#yTvid" style="background-color:black">
                      <span class="d-block"><i class="ni ni-button-play" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">Jupyter Notebook Tutorial</h6></span>
                    </a>
                    
                </div>
                  
                <div style="width: 50%; float:right">
                  <h6>Assignments: </h6>
                    <a data-toggle="modal" data-target="#quiz" href="#quiz" style="background-color:black">
                      <span class="d-block"><i class="fa fa-file" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">Section 1 ML Assignment</h6></span>
                    </a>

                </div>
            </div>
              <br>
              <br>
              <br>
              <br>  
              <br>
              
            </div>
            
            <!-- <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                  <a href="#">Show more</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-start">
              <!-- <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle" alt="image">
                  </a>
                </div>
              </div> -->
              <!-- <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div> -->
              <div class="text-left">
                <div class="card-profile-stats">
                  <div>
                    <span class="heading">Intro to ML: Class 2</span>
                    <span class="description">Autolayout</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              
            <div class="text-left d-inline">
                <div style="width: 50%; float:left">
                    <h6>Documents: </h6>
                    <!-- <a data-toggle="modal" data-target="#myModal" href="#myModal" style="background-color:black">
                      <span class="d-block"><i class="fa fa-file" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">Setting up VSCode to run Python</h6></span>
                    </a> -->
                    
                    <a data-toggle="modal" data-target="#yTvid" href="#yTvid" style="background-color:black">
                      <span class="d-block"><i class="ni ni-button-play" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">ML Tutorial</h6></span>
                    </a>
                    
                </div>
                  
                <div style="width: 50%; float:right">
                  <h6>Assignments: </h6>
                    <a data-toggle="modal" data-target="#quiz2" href="#quiz2" style="background-color:black">
                      <span class="d-block"><i class="fa fa-file" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">ML Classification Kernel</h6></span>
                    </a>

                    <!-- <a data-toggle="modal" data-target="#quiz2" href="#quiz2" style="background-color:black">
                      <span class="d-block"><i class="fa fa-file" style="color: #6c757d;"></i>&ensp;<h6 class="d-inline">Class 1 Another Assignment</h6></span>
                    </a> -->
                </div>
            </div>
              <br>
              <br>
              <br>
              <br>  
              <br>
              
            </div>
            
            <!-- <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                  <a href="#">Show more</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    
    
  </main>

  <div class="modal fade myModal-xl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Variables and their Data Types</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Whoo! This is some text!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade quiz-lg" id="quiz" tabindex="-1" role="dialog" aria-labelledby="quizLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="quizLabel">Class 1: Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5 class="mb-0" id="question"></h5>             
                <!-- has-success is-valid-->
                <div data-toggle="buttons">
                  <div data-toggle="buttons">
                    <label for="opt1" class="btn btn-secondary btn-lg btn-block " style="text-align: left;" id="o1">
                      <input type="radio" id="opt1" name="q0"  style="display: none;" value="o1"/><span id="lopt1"></span>
                    </label>
                    <label for="opt2" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="o2">
                      <input type="radio"   id="opt2" name="q0" style="display: none;" value="o2"/><span id="lopt2"></span>
                    </label>
                    <label for="opt3" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="o3">
                      <input type="radio"  id="opt3" name="q0" style="display: none;" value="o3"/><span id="lopt3"></span>
                    </label>
                    <label for="opt4" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="o4">
                      <input type="radio"  id="opt4" name="q0" style="display: none;" value="o4"/><span id="lopt4"></span>
                    </label>
                    
                  </div>
                    <input type="button" id="answer" value="Check Answer" class="btn btn-success btn-lg btn-block"/>
                </div>


        </div>
        <div class="modal-footer">
          <form action="" method="POST">

        
            <input type="text" id="numcorrect" name="numcorrect" hidden>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btn" disabled>Turn In</button>
            <!-- <button type="submit" class="btn btn-success btn-sm" id="btn" disabled>Turn In</button> -->
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade quiz2-lg" id="quiz2" tabindex="-1" role="dialog" aria-labelledby="quiz2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="quiz2Label">Class 1: Quiz Repeat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5 class="mb-0" id="question2"></h5>             
                <!-- has-success is-valid-->
                <div data-toggle="buttons">
                  <div data-toggle="buttons">
                    <label for="aopt1" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="ao1">
                      <input type="radio" id="aopt1" name="q1" style="display: none;" value="ao1"/><span id="l2opt1"></span>
                    </label>
                    <label for="aopt2" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="ao2">
                      <input type="radio"   id="aopt2" name="q1" style="display: none;" value="ao2"/><span id="l2opt2"></span>
                    </label>
                    <label for="aopt3" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="ao3">
                      <input type="radio"  id="aopt3" name="q1" style="display: none;" value="ao3"/><span id="l2opt3"></span>
                    </label>
                    <label for="aopt4" class="btn btn-secondary btn-lg btn-block" style="text-align: left;" id="ao4">
                      <input type="radio"  id="aopt4" name="q1" style="display: none;" value="ao4"/><span id="l2opt4"></span>
                    </label>
                    
                  </div>
  
                    <input type="button" id="answer2" value="Check Answer" class="btn btn-success btn-lg btn-block"/>
                </div>


        </div>
        <div class="modal-footer">
          <form action="" method="POST">

        
            <input type="text" id="numcorrect2" name="numcorrect2" hidden>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btn2" disabled>Turn In</button>
            <!-- <button type="submit" class="btn btn-success btn-sm" id="btn" disabled>Turn In</button> -->
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade yTvid-lg" id="yTvid" tabindex="-1" role="dialog" aria-labelledby="yTvidLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="yTvidLabel">Variables and their Data Types</h5>
          <button type="button" class="close" onclick="stop();" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Da8-QfGemgo" id="sauce"
            allowfullscreen></iframe>
        </div>

        <div class="modal-footer">
          <!-- <button type="button" onclick="stop();" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


<!-- Add pausing functionality instead -->
<script>
   
  function stop(){
    var iframe = document.getElementById('sauce');
    iframe.src = iframe.src;
}


  let quiz = {
    questions: ["How to start up J-Notebook?", "Quick way to run commands: ", "Where to usually import libraries"],
    correct: ["o3", "o2", "o1"],
    opt1: ["Jupiter Notebook", "Shift Enter", "First Block"],
    opt2: ["jupyter notebook", "Command Enter", "Second Block"],
    opt3: ["ju peter not boek", "Enter", "Third Block"],
    opt4: ["notebook", "Enter x2", "Fourth Block"]

  }

  let quiz2 = {
    questions: ["Best starter", "Best Console?", "Website?"],
    correct: ["ao2", "ao1", "ao4"],
    opt1: ["Charmander", "Switch", "clubpenguin"],
    opt2: ["Squirtle", "XBOX 1", "youtube"],
    opt3: ["Mudkip", "PS4", "google"],
    opt4: ["Chikorita", "WII U", "internet"]

  }

  let quizId = ["lopt1", "lopt2", "lopt3", "lopt4", "question"]
  let quizId2 = ["l2opt1", "l2opt2", "l2opt3", "l2opt4", "question2"]
 
  function stop(){
    var iframe = document.getElementById('sauce');
    iframe.src = iframe.src;
}



  $(document).ready(function() {
    prep_modal(checker="answer", submitter="btn", hidden_val="numcorrect", questions=quiz, questionId=quizId, name="q0");
    prep_modal(checker="answer2", submitter="btn2", hidden_val="numcorrect2", questions=quiz2, questionId=quizId2, name="q1");
  });
  

  
  // var check_ans = document.querySelector('#answer');
  
  function setQuiz(questions, counter, questionId){
    document.getElementById(questionId[4]).innerHTML = questions.questions[counter];
    document.getElementById(questionId[0]).innerHTML = questions.opt1[counter];
    document.getElementById(questionId[1]).innerHTML = questions.opt2[counter];
    document.getElementById(questionId[2]).innerHTML = questions.opt3[counter];
    document.getElementById(questionId[3]).innerHTML = questions.opt4[counter];
  }
  

  function prep_modal(checker, submitter, hidden_val, questions, questionId, name){
//    $(".modal").each(function() {
      let correct = 0;
      let counter = 0;
      console.log(`The counter is ${counter}`)
      const corrected = document.querySelector(`#${checker}`);
      const submit = document.querySelector(`#${submitter}`);
      

      setQuiz(questions=questions, counter=counter, questionId=questionId);

      $(`#${checker}`).click(function() {
        let rbs = document.querySelectorAll(`input[name=${name}]`); //try string interpolation
        let selectedValue;
        for (const rb of rbs) {
            if (rb.checked) {
                selectedValue = rb.value;
                break;
            }
        }

        if(selectedValue === questions.correct[counter]){
          let cor = document.getElementById(selectedValue);
          cor.classList.add("has-success");
          correct++;
          if(counter == questions.questions.length - 1){
            corrected.disabled = true
            submit.disabled = false
            alert(correct)
          }
          if (counter < questions.questions.length - 1){
            counter++;
          }
            
          setTimeout(() => { 
            setQuiz(questions=questions, counter=counter, questionId=questionId);
            cor.classList.remove("has-success")
          }, 2000);
          
        } else{
          let inc = document.getElementById(selectedValue);
          let cor = document.getElementById(questions.correct[counter]);
          inc.classList.add("has-danger");
          cor.classList.add("has-success");
          if(counter == questions.questions.length-1){
            corrected.disabled = true
            submit.disabled = false
            alert(correct)
          }
          if (counter < questions.questions.length-1){
            counter++;
          }  
          setTimeout(() => { setQuiz(questions=questions, counter=counter, questionId=questionId);
            inc.classList.remove("has-danger");
            cor.classList.remove("has-success");
          }, 2000);
          
        }
        // alert("Correct Value is : " +correct) //remove later
        $(`#${hidden_val}`).val(correct);
      });

      
 //   });

  }
    

</script>

{% endblock content %}
