{% extends "layouts/default-fullscreen.html" %}

{% block title %} Introduction to Circuit Analysis {% endblock %} 

{% block content %}

{% from 'includes/plugs.html' import create_DA_Item, create_breaks, quiz_modal, document_modal, yt_modal, create_unit_block, progress_bar, pdf_modal%}
{% from 'courses/course-material.html' import create_ee%}
  <main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>

    {{ progress_bar(heading="Intro to Circuit Analysis", course="ee") }}

    {% call(isDocument) create_unit_block(heading="UNIT: 1", description="TBH", int_breaks=6, ext_breaks=7) %}
      {% if isDocument %}
        {{create_DA_Item(modal_id="doc_ee_di_1", title='Lesson 1: Current', doc=doc, hidden_val=ee_course[0])}} 
        {{create_DA_Item(modal_id="doc_ee_di_2", title='Lesson 2: Voltage', doc=doc, hidden_val=ee_course[1])}} 
        {{create_DA_Item(modal_id="doc_ee_di_3", title='Lesson 3: Conductance', doc=doc, hidden_val=ee_course[2])}} 
        {{create_DA_Item(modal_id="doc_ee_di_4", title='Lesson 4: Ammeters & Voltmeters', doc=doc, hidden_val=ee_course[3])}} 
      {% else %}
          None!
      {% endif %}
    {% endcall %}

    {% call(isDocument) create_unit_block(heading="UNIT: 2", description="TBH", int_breaks=5, ext_breaks=6) %}
      {% if isDocument %}
        {{create_DA_Item(modal_id="doc_ee_di_5", title='Lesson 5: Resistance (Pt. 1)', doc=doc, hidden_val=ee_course[4])}} 
        {{create_DA_Item(modal_id="doc_ee_di_6", title='Lesson 6: Resistance (Pt. 2)', doc=doc, hidden_val=ee_course[5])}} 
        {{create_DA_Item(modal_id="doc_ee_di_7", title='Lesson 7: Resistance (Pt. 3)', doc=doc, hidden_val=ee_course[6])}} 
      {% else %}
          None!
      {% endif %}
    {% endcall %}

    {% call(isDocument) create_unit_block(heading="UNIT: 3", description="TBH", int_breaks=5, ext_breaks=6) %}
      {% if isDocument %}
        {{create_DA_Item(modal_id="doc_ee_di_8", title='Lesson 8: Ohm\'s Law', doc=doc, hidden_val=ee_course[7])}} 
        {{create_DA_Item(modal_id="doc_ee_di_9", title='Lesson 9: Power & Energy', doc=doc, hidden_val=ee_course[8])}} 
        {{create_DA_Item(modal_id="doc_ee_di_10", title='Lesson 10: Series Resistors', doc=doc, hidden_val=ee_course[9])}} 
      {% else %}
          None!
      {% endif %}
    {% endcall %}

    {% call(isDocument) create_unit_block(heading="UNIT: 4", description="TBH", int_breaks=5, ext_breaks=6) %}
      {% if isDocument %}
        {{create_DA_Item(modal_id="doc_ee_di_11", title='Lesson 11: Series Circuits', doc=doc, hidden_val=ee_course[10])}} 
        {{create_DA_Item(modal_id="doc_ee_di_12", title='Lesson 12: Kirchoff\'s Voltage Law', doc=doc, hidden_val=ee_course[11])}} 
        {{create_DA_Item(modal_id="doc_ee_di_13", title='Lesson 13: Kirchoff\'s Current Law', doc=doc, hidden_val=ee_course[12])}} 
      {% else %}
          None!
      {% endif %}
    {% endcall %}

    {% call(isDocument) create_unit_block(heading="UNIT: 5", description="TBH", int_breaks=5, ext_breaks=6) %}
      {% if isDocument %}
        {{create_DA_Item(modal_id="doc_ee_di_14", title='Lesson 14: Ground', doc=doc, hidden_val=ee_course[13])}} 
        {{create_DA_Item(modal_id="doc_ee_di_15", title='Lesson 15: Parallel Resistors', doc=doc, hidden_val=ee_course[14])}} 
        {{create_DA_Item(modal_id="doc_ee_di_16", title='Lesson 16: Parallel Circuits', doc=doc, hidden_val=ee_course[15])}} 
      {% else %}
          None!
      {% endif %}
    {% endcall %}
    
    {% call(isDocument) create_unit_block(heading="UNIT: 6", description="TBH", int_breaks=5, ext_breaks=6) %}
      {% if isDocument %}
        {{create_DA_Item(modal_id="doc_ee_di_17", title='Lesson 17: Open and Short Circuits', doc=doc, hidden_val=ee_course[16])}} 
        {{create_DA_Item(modal_id="doc_ee_di_18", title='Lesson 18: Series-Parallel Circuits', doc=doc, hidden_val=ee_course[17])}}
      {% else %}
          None!
      {% endif %}
    {% endcall %}
  </main>

  {{ yt_modal(vid_id='yTvid', ifr_id='sauce', title="Hot Wings", emb_link="https://www.youtube.com/embed/Da8-QfGemgo") }}
  {{ yt_modal(vid_id='yTvid2', ifr_id='sauce2', title="Caleb City", emb_link="https://www.youtube.com/embed/M01GuDCk4f4") }}
  {{ create_ee()}}

<!-- Add pausing functionality instead -->
<script src="/static/assets/js/question.js"></script>
<script>

  let quiz = {
    questions: ["What is a daily object that has a similar use to a varible?", "What is the right type?", "Who is the best mario brother?"],
    correct: ["o3", "o2", "o1"],
    opt1: ["Banana", "Man", "Mario"],
    opt2: ["Toothbrush", "Woman", "Luigi"],
    opt3: ["Cardboard Box", "Other", "Wario"],
    opt4: ["Bedsheet", "No Other", "Waluigi"]

  }

  let quiz2 = {
    questions: ["Best fruit?", "Best Smash Chracter?", "Bleep Bleep?"],
    correct: ["ao2", "ao1", "ao4"],
    opt1: ["Banana", "Ness", "Bleep"],
    opt2: ["Apple", "Kirby", "Beep"],
    opt3: ["Strawberry", "Peach", "Boop"],
    opt4: ["Yogurt", "Ganon", "Bloop"]

  }

  let quizId = ["lopt1", "lopt2", "lopt3", "lopt4", "question"]
  let quizId2 = ["l2opt1", "l2opt2", "l2opt3", "l2opt4", "question2"]
 

  $(document).ready(function() {
    prep_modal(checker="answer", submitter="btn", hidden_val="numcorrect", questions=quiz, questionId=quizId, name="q0");
    prep_modal(checker="answer2", submitter="btn2", hidden_val="numcorrect2", questions=quiz2, questionId=quizId2, name="q1");
  });
  
</script>

{% endblock content %}
