{% extends "layouts/default-fullscreen.html" %}

{% block title %} Intro to Python {% endblock %} 

{% block content %}

{% from 'includes/plugs.html' import create_DA_Item, create_breaks, quiz_modal, document_modal, yt_modal, create_unit_block, progress_bar, pdf_modal%}

<!-- "https://www.youtube.com/embed/Kgd-lFsMQto" -->
  <main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape">
        <img src="{{ url_for('static', filename='assets/img/theme/swift.png') }}" alt="" class="img-fluid" style="width: 100%; height:100%;">
      </div>
    </section>
    {{ progress_bar(heading="Intro to iOS Development", course="sw") }}

    {% call(isDocument) create_unit_block(heading="Getting Started with Xcode", description="A quick feature rundown", int_breaks=5, ext_breaks=0) %}
    {% if isDocument %}
      {{create_DA_Item(modal_id="yt_sw_v_1", title='Getting Started with Xcode: Pt. 1', doc=doc, hidden_val=sw_course[0])}} 
      {{create_DA_Item(modal_id="yt_sw_v_2", title='Getting Started with Xcode: Pt. 2', doc=doc, hidden_val=sw_course[1])}} 
    {% else %}
        None!
    {% endif %}
   {% endcall %}

   {{ yt_modal(vid_id='yt_sw_v_1', ifr_id='yt_sw_ifr_1', title="Getting Started with Xcode: Pt. 1", emb_link="https://www.youtube.com/embed/Kgd-lFsMQto", hidden_val=sw_course[0], watched="yt_sw_r_1") }}
   {{ yt_modal(vid_id='yt_sw_v_2', ifr_id='yt_sw_ifr_2', title="Getting Started with Xcode: Pt. 2", emb_link="https://www.youtube.com/embed/ynKj7e9bQnY", hidden_val=sw_course[1], watched="yt_sw_r_2") }}

   
  </main>


<!-- Add pausing functionality instead -->
<script src="/static/assets/js/question.js"></script>


{% endblock content %}
